body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

/*header*/
.main-navigation {
  display: flex;
  width: 100%;
  height: 56px;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;

  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;


  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.navigation-button {
  width: 20%;
  margin: 0;
  padding: 0;
}

.navigation-button:nth-of-type(1),
.navigation-button:nth-of-type(2) {
  text-align: left;
}

.navigation-button:nth-of-type(3),
.navigation-button:nth-of-type(4) {
  text-align: right;
}


/*основной блок на главной*/

.container .welcome {
  width: 100%;
  margin-bottom: 45px;

  background-color: #2d4448;
  background-image: url("../img/welcome-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

.welcome .welcome-sedona {
  margin: 75px 0 82px;
  width: 458px;
  height: 352px;
}

.selection {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reasons .selection {
  display: inline-block;
  margin-bottom: 35px;
}

.reasons .subhead {
  margin-bottom: 52px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.reasons-list img {
  flex-grow: 1;
  width: auto;
  /*height: 256px;*/
  background-position: top center;
  background-repeat: no-repeat;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 33%;
  height: 256px;
  margin: 0;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(4)  {
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-item h3 {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 65px;
  width: 155px;
  font-size: 21px;
  line-height: 21px;
}

.reasons-item p {
  width: 280px;
  margin-bottom: 60px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 330px;

}

.recommendations-item img {
  order: -1;
}

.recommendations-item p {
  width: 280px;
}

.question {
  font-size: 30px;
  line-height: 36px;
}

.reservation-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 245px;
  margin: 0;
  padding: 0;
  padding-top: 55px;

}

.reservation-search .question {
  display: inline-block;
  margin-bottom: 30px;
}

.reservation-search p {
  width: 440px;
  margin: 0 auto 55px;
}

/*стиль для кнопок сайта*/

.button {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

/*кнопка закрытия/открытия формы на главной странице*/

.form-close {
  width: 568px;
  height: 86px;

  background-color: #766357;
}

.form-close:hover,
.form-close:focus {
  background-color: #604e43;
}

.form-close:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*форма на главной*/

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 568px;
  height: 395px;


  margin: 0 auto;
}

.wrapper-form-fields {
  width: 458px;
  height: 173px;
  margin: 55px;
}


.reservation input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;

  background-color: #f2f2f2;
}

.reservation input:hover {
  background-color: #ebebeb;
}

.reservation input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.reservation label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.button.choice-button {
  color: #a9a9a9;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2
}

.button.choice-button:hover,
.button.choice-button:focus {
  color: #000000;
}

.button.choice-button:active {
  color: #81b3d2;
}

/*кнопка отправки формы на главной*/

.form-submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #669ec0;
}

.form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*карта на главной*/

img.map {
  width: 100%;

  background-color: #eeeeee;
}

/*фильтры в каталоге отелей*/
.filters {

  font: inherit;
  color: #ffffff;

  background-color: #2d4448;
  background-image: url("../img/filter-welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filters-fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.button.filters-button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.button.filters-button:hover,
.button.filters-button:focus {

  color: #2d4448;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
}

/*сортировка в каталоге отелей*/

.sorting p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: dotted;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000000;
}

.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

/*выделение жирным и крупным у текста*/

.selection a {
  color: #000000;
}

.selection a:hover,
.selection a:focus {
  color: #81b3d2;
}

.selection a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*карточка отеля*/

.hotels-list {
  list-style: none;
}

.hotels-item {
  color: #333333;
}

/*кнопки в карточке отеля*/

a.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

a.button-details:hover,
a.button-details:focus {
  background-color: #669ec0;
}

a.button-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.button-reservation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

a.button-reservation:hover,
a.button-reservation:focus {
  background-color: #604e43;
}

a.button-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*рейтинг отеля*/

.rating-numbers {
  color: #666666;
  background-color: #f2f2f2;
}


/*footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer div {
  width: 33%;
  height: 120px;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.academy-link {

}
