body {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

.body-back {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.inner-page .container {
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

/*header*/
.main-navigation {
  position: relative;
  display: flex;
  min-height: 56px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.main-header-logo {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  width: 138px;
  min-height: 70px;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 14px 6% 0px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.navigation-button {
  width: 20%;
  margin: 0;
  padding: 0;
}

.navigation-button:nth-of-type(1),
.navigation-button:nth-of-type(2) {
  text-align: left;
}

.navigation-button:nth-of-type(2) {
  margin-right: auto;
  padding-left: 30px;
}

.navigation-button:nth-last-of-type(2) {
  padding-right: 33px;
}

.navigation-button:nth-last-of-type(2),
.navigation-button:nth-last-of-type(1) {
  text-align: right;
}

/*основной блок на главной*/
.container .welcome {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  background-color: #2d4448;
  background-image: url("../img/welcome-background.jpg");
  background-position: 50% 29%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .welcome::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/triangles-mask.png");
  background-repeat: no-repeat;
  background-position: center;
}

.welcome .welcome-sedona {
  margin: 76px 0 74px;
  width: 458px;
  height: 352px;
}

.selection {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reasons .selection {
  display: inline-block;
  width: 450px;
  margin-bottom: 16px;
  vertical-align: middle;
}

.reasons .subhead {
  margin-bottom: 53px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  background-color: #eeeeee;
}

.reasons-list .reasons-item:nth-child(1) {
  order: 1;
}

.reasons-list .reasons-item:nth-child(2) {
  order: 3;
}

.reasons-list .reasons-item:nth-child(3) {
  order: 4;
}

.reasons-list .reasons-item:nth-child(4) {
  order: 5;
}

.reasons-list .reasons-item:nth-child(5) {
  order: 6;
}

.reasons-list .recommendations:nth-child(6) {
  order: 2;
}

.reasons-item {
  width: 33.3%;
  height: 256px;
  background-color: #eeeeee;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2) {
  display: flex;
  width: 100%;
  height: 256px;
  margin: 0;
  padding: 0;
  background-color: #81b3d2
}

.reasons-image:first-of-type {
  width: 66.7%;
  background-image: url(../img/reasons-item-2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c8b7;
}

.reasons-image:last-of-type {
  width: 66.7%;
  background-image: url(../img/reasons-item-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c18f79;
}

.reasons-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

.reasons-item:nth-child(1) .reasons-text,
.reasons-item:nth-child(2) .reasons-text {
  width: 33.3%;
  color: #ffffff;
  background-color: #81b3d2;
}



.reasons-text h3 {
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 25px;
  padding: 0;
  /*margin: 45px auto 65px;*/
  width: 155px;
  font-size: 21px;
  line-height: 21px;
}

.reasons-text span {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.reasons-text p {
  max-width: 300px;
  min-width: 170px;
  margin: 0 auto;
  padding: 0 30px;
}

.reasons-item:nth-child(3) p,
.reasons-item:nth-child(4) p {
  max-width: 280px;
}

.reasons-item:nth-child(2) p {
  padding: 0 40px;
}

.reasons-item:nth-child(4) p,
.reasons-item:nth-child(5) p {
  padding: 0 50px;
}

.recommendations {
  width: 100%;
  height: 330px;
}

.recommendations-list {
  display: flex;
  justify-content: space-between;
  height: 330px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;

}

.recommendations-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33.3%;
  min-width: 256px;
  height: 100%;
  padding: 160px 40px 0;
  background-color: #ffffff;
  box-sizing: border-box;
}

.recommendations-item h2 {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
}

.recommendations-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

.recommendations-item:nth-of-type(1)::before {
  background-image: url("../img/icon-1.svg");
}

.recommendations-item:nth-of-type(2)::before {
  background-image: url("../img/icon-3.svg");
}

.recommendations-item:nth-of-type(3)::before {
  background-image: url("../img/icon-2.svg");
}

.recommendations-item p {
  max-width: 290px;
  min-width: 170px;
  margin: 0 auto;
  padding: 0;
}

.question {
  font-size: 30px;
  line-height: 36px;
}

.reservation-search {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.reservation-search .question {
  display: inline-block;
  margin-bottom: 25px;
  vertical-align: middle;
}

.reservation-search p {
  width: 440px;
  margin: 0 auto 46px;
  line-height: 24px;
}

/*стиль для кнопок сайта*/
.button {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

/*кнопка закрытия/открытия формы на главной странице*/
.form-close {
  z-index: 3;
  width: 568px;
  height: 86px;
  font-weight: 700;
  background-color: #766357;
  cursor: pointer;
}

.form-close:hover,
.form-close:focus {
  background-color: #604e43;
}

.form-close:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*форма на главной*/
.reservation-search-modal {
  display: flex;
  min-width: 768px;
  max-width: 1200px;
  height: 594px;
  background-image: url("../img/map.png");
  background-color: #cbdda9;
}

.reservation-search-modal .reservation-form {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  padding: 53px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
	}
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  25%{
    transform: translateY(-2%);
  }
  40%{
    transform: translateY(4%);
  }
  50%{
    transform: translateY(-4%);
  }
  65%{
    transform: translateY(8%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.modal-out {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal-in {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.reservation-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
 }

.reservation-field.adults {
  z-index: 1;
  margin-bottom: 52px;
  width: 225px;
 }

.reservation-field.children {
  z-index: 1;
  margin-bottom: 52px;
  width: 180px;
 }

.reservation-field label {
  width: 112px;
  height: 20px;
  margin: 5px auto auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
 }

.reservation-field input {
  height: 38px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  vertical-align: middle;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  box-sizing: border-box;
 }

.reservation-field input[type="number"]::-webkit-outer-spin-button,
.reservation-field input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.reservation-field input[type="number"] {
  -moz-appearance: textfield;
}

.reservation-field input::-ms-clear {
  display: none;
}

.reservation-field input:hover {
  background-color: #ebebeb;
 }

.reservation-field input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
 }

.button.choice-button {
  width: 38px;
  height: 38px;
  color: #a9a9a9;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
 }

.button.choice-button:hover,
.button.choice-button:focus {
  color: #000000;
 }

.button.choice-button:active {
  color: #81b3d2;
 }

.reservation-field .calendar-button {
  position: absolute;
  right: 0px;
  width: 38px;
  height: 38px;
  background-image: url("../img/calendar-calm.svg");
  background-position: center;
  background-repeat: no-repeat;
 }

.reservation-field .calendar-button:hover,
.reservation-field .calendar-button:focus {
  background-image: url("../img/calendar.svg");
 }

.reservation-field .calendar-button:active {
  background-image: url("../img/calendar-press.svg");
  }

.arrival input,
.departure input {
  width: 345px;
  padding-left: 12px;
  padding-right: 38px;
  text-align: left;
 }

.adults input {
  width: 114px;
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
}

.adults .red-button {
  position: absolute;
  z-index: 2;
  width: 38px;
  height: 38px;
  right: 76px;
}

.adults .add-button {
  position: absolute;
  z-index: 2;
  width: 38px;
  height: 38px;
  right: 0px;
}

.children input {
  min-width: 114px;
  max-width: 114px;
  height: 38px;
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
}

.children .red-button {
  position: absolute;
  z-index: 2;
  width: 38px;
  height: 38px;
  right: 76px;
}

.children .add-button {
  position: absolute;
  z-index: 2;
  width: 38px;
  height: 38px;
  right: 0px;
}

/*кнопка отправки формы на главной*/
.form-submit {
  width: 458px;
  height: 58px;
  font-weight: 700;
  background-color: #81b3d2;
  cursor: pointer;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #669ec0;
}

.form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*фильтры в каталоге отелей*/
.filters {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 217px;
  padding-left: 6%;
  padding-right: 6%;
  font: inherit;
  color: #ffffff;
  background-color: #2d4448;
  background-image: url("../img/filter-welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.filters input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  outline-offset: 20px;
}

/*.filters input[type="checkbox"] {
  display: none;
}*/

.filters legend {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters-fieldset {
  margin: 0;
  margin-top: 28px;
  margin-bottom: auto;
  padding: 0;
  text-align: left;
  border: none;
}

.filters-fieldset.infrastructure {
  /*min-width: 255px;*/
  margin-right: 120px;
}

.filters-fieldset.type {
  margin-right: 50px;
}

.filters-fieldset .filters-option {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
}

.filters-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.filters-fieldset .filters-option:last-of-type {
  margin-bottom: 0;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  cursor: pointer;
}

.checkbox + label:focus::before {
  outline: thin solid;
  outline: 5px auto inherit;
}

.checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");

}

.checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -40px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -40px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -40px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.wrapper-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-bottom: auto;
  max-width: 317px;
  min-width: 230px;
  box-sizing: border-box;
}

.price legend {
  margin-bottom: 9px;
}

.range-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 0px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.range-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.range-box label {
  width: 50%;
  margin: auto;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

.range-box input {
  width: 50%;
  margin: 3px 0 auto;
  margin-left: auto;
  line-height: 1;
  background: none;
  border: none;
  }

.range-box input::-webkit-outer-spin-button,
.range-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-box input {
  -moz-appearance: textfield;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-button {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-button:hover,
.range-button:focus {
  width: 5px;
  height: 5px;
}

.range-button-min {
  left: 0;
}

.range-button-max {
  left: 80%;
}

.button.filters-button {
  margin: 0;
  margin-left: 27%;
  width: 137px;

  padding: 5px 33px;
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button.filters-button:hover,
.button.filters-button:focus {
  color: #2d4448;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
}

/*сортировка в каталоге отелей*/
.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 25px 6% 30px;
  width: 100%;
  height: 87px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.sorting .selection {
  margin-right: 45px;
}

.sorting p {
  margin-right: 38px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  width: 240px;
  list-style: none;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
  border-bottom: 1px #81b3d2 dotted;
}

.sorting-item a:active {
  color: #000000;
  border-bottom: 1px #000000 dotted;
}

.sorting-item-current a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  border-bottom: none;
}

.sorting-arrows {
  margin-left: auto;
}

.sorting-arrows a:first-of-type {
  margin-right: 8px;
}

.arrow path {
  fill: #cacaca;
}

.arrow:hover path,
.arrow:focus path {
  fill: #231f20;
}

.active-arrow path {
  fill: #81b3d2;
}

/*выделение жирным и крупным у текста*/
.selection a {
  color: #000000;
}

.selection a:hover,
.selection a:focus {
  color: #81b3d2;
}

.selection a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*карточка отеля*/
.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  justify-content: flex-start;

  padding: 30px 6%;
  width: 100%;
  height: 151px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
}

.hotels-item .hotels-photo {
  margin-right: 30px;
  background-color: #ab9f9e;
}

.hotels-item .selection {
  margin: -5px 0 8px;
  padding: 0;
}

.short-description {
  margin-bottom: 13px;
}

.short-description span {
  display: inline-block;
  min-width: 110px;
  margin-right: 2px;
  vertical-align: middle;
}

.hotels-text {
  text-align: left;
}

.hotels-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  text-align: right;
}

/*кнопки в карточке отеля*/
a.button-details {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 2px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #81b3d2;
  box-sizing: border-box;
}

a.button-details:hover,
a.button-details:focus {
  background-color: #669ec0;
}

a.button-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.button-reservation {
  display: inline-block;
  width: 142px;
  height: 27px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
  box-sizing: border-box;
}

a.button-reservation:hover,
a.button-reservation:focus {
  background-color: #604e43;
}

a.button-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*рейтинг отеля*/
.rating-numbers {
  width: 110px;
  height: 27px;
  padding-top: 3px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.rating-stars img {
  margin-left: 2px;
}

/*footer*/

.main-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: inherit;
  height: 120px;
  margin-top: -120px;
  background-color: rgba(255, 254, 254, 0.9);
}

.inner-page .main-footer {
  margin-top: 0;
}

.main-footer .footer-block {
  width: 33.3%;
}

.footer-hashtag {
  margin: auto 0;
  padding-left: 4px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding-left: 9px;
  box-sizing: border-box;
}

.footer-copyright .academy-link {
  display: block;
  width: 120px;
  height: 50px;
  margin-left: 11px;
  background-image: url("../img/html-academy.svg");
}

.academy-link:hover,
.academy-link:focus  {
  background-image: url("../img/html-academy-hover.svg");
}

.academy-link:active {
  background-image: url("../img/html-academy-active.svg");
}
