body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.container .welcome-sedona {
  background-color: #2d4448;
  background-image: url("img/welcome-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.selection {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reasons-list {
  background-color: #eeeeee;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2)  {
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.recommendations-list {
  list-style: none;
}


.question {
  font-size: 30px;
  line-height: 36px;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.form-close {
  background-color: #766357;
}

.form-close:hover,
.form-close:focus {
  background-color: #604e43;
}

.form-close:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.reservation input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;

  background-color: #f2f2f2;
}

.reservation input:hover {
  background-color: #ebebeb;
}

.reservation input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.reservation label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.button.choice-button {
  color: #a9a9a9;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f2f2
}

.button.choice-button:hover,
.button.choice-button:focus {
  color: #000000;
}

.button.choice-button:active {
  color: #81b3d2;
}

.form-submit {
  background-color: #81b3d2;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #669ec0;
}

.form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

img.map {
  background-color: #eeeeee;
}

.filters {
  font: inherit;
  color: #ffffff;

  background-color: #2d4448;
  background-image: url("img/filter-welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filters-fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.button.filters-button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.button.filters-button:hover,
.button.filters-button:focus {

  color: #2d4448;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: dotted;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000000;
}

.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-list {
  list-style: none;
}

.selection a {
  color: #000000;
}

.hotels-item {
  color: #333333;
}

a.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
}

a.button-details:hover,
a.button-details:focus {
  background-color: #669ec0;
}

a.button-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.button-reservation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

a.button-reservation:hover,
a.button-reservation:focus {
  background-color: #604e43;
}

a.button-reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating-numbers {
  color: #666666;
  background-color: #f2f2f2;
}


.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.social-list {
  list-style: none;

}

.academy-link {

}
